{% extends 'accounts/home4.html' %}

{% block content %}

Hi Staff Member you can change the flight status here.

{% if message %}

{{ message }}

{% endif %}

<br><br>
<form class="" action="{% url 'update_status' %}" method="POST">
  {% csrf_token %}


  Airline:<select class="" name="Airline">
    <option value="{{staff_airl}}">{{staff_airl}}</option>
        </select>
<br>
<br>

  Flight Number: <select class="" name="flightnum">

    <option value="">Select Flight Number</option>

    {% for f in flightnum %}
    <option value="{{f}}">{{f}}</option>
    {% endfor %}
  </select>
  <br>
  <br>

  New Status: <select class="" name="status">
    <option value="">--Select New Status--</option>

    <option value="Upcoming">Upcoming</option>
    <option value="In Progress">In Progress</option>
    <option value="Delayed">Delayed</option>

  </select>

  <br>
  <br>


  <input type="submit" value="Update Status">
</form>

{% endblock %}
